:root {
    --signup-form-background: rgba(255, 255, 255, 0.93);
    --signup-form-shadow: rgba(0, 0, 0, 0.2) 0.2em 0.2em 0.4em;
    --input-field-background: rgb(226, 226, 226);
    --input-field-background-focus: rgba(62, 100, 255, 0.25);
    --signup-form-border: 0.3em solid #195aa5;
    --signup-button-color: rgba(62, 100, 255);
    --error-message-color : rgba(212, 28, 28, 0.877);
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow: hidden;
    font-size: 95%;
}

a {
    text-decoration: none;
}

.errorlist {
    color: var(--error-message-color);
    font-size: 80%;
}

ul {
    margin: 0.3em;
    padding: 0 0.7em 0 0.7em;
}

.errorlist ::marker {
    content: "";
}

.main-container {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    background-image: url("../img/background_login_blurred.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.background-blur {
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
}

.main-content-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 550px){
    .main-content-container {
        height: 100%;
    }
}

.signup-form-container {
    display: flex;
    justify-content: center;
}

.signup-form {
    background-color: var(--signup-form-background);
    font-size: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 3.5em 2.2em 3.5em;
    width: min-content;
    box-shadow: var(--signup-form-shadow);
    border: var(--signup-form-border);
    border-radius: 0.6em;
}

@media screen and (max-width: 550px){
    .signup-form {
        width: 95vw;
        padding: 1.7em 0 1.3em 0;

        border: transparent;
    }
}


.signup-form label {
    font-size: 110%;
}

.signup-form input {
    background-color: var(--input-field-background);
    font-size: 120%;
    border: transparent;
    padding: 0.5em;
    margin: 1em;
    border-radius: 0.2em;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 550px){
    .signup-form input {
        margin: 0.6em;
    }
}

.signup-form input:focus-visible {
    background-color: var(--input-field-background-focus)
}

.signup-form input[type=submit] {
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 0.5em;
    background-color: var(--signup-button-color);
    color: white;
    letter-spacing: 0.08em;
    font-family: 'Poppins';
    font-size: 130%;
    box-shadow: 0.06em 0.06em 0.2em rgba(0, 0, 0, 0.35);
}

.signup-form input[type=submit]:hover {
    transition: all 0s;
    box-shadow: inset 100em 100em rgba(0, 0, 0, 0.2);
}
