version: "3.9"

services:
  nginx:
    build:
      context: ./
      dockerfile: ./deployment/nginx/Dockerfile
    volumes:
      - static:/static
      - ./etc/letsencrypt/live/${DOMAIN_HOST}/:/etc/letsencrypt/live/${DOMAIN_HOST}
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - notepad-djangocorn
    restart: on-failure:1
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
      - DOMAIN_HOST=${DOMAIN_HOST}

  notepad-djangocorn:
    build:
      context: ./
      dockerfile: ./deployment/django/Dockerfile
    expose:
      - "8000"
    volumes:
      - static:/my_app/src/static
    depends_on:
      - notepad-postgresql
    restart: on-failure:1
    environment:
      - DEBUG=${DJANGO_DEBUG}
      - SECRET_KEY=${DJANGO_SECRET_KEY}
      - ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DB_NAME=${POSTGRES_DB_NAME}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_HOST=${POSTGRES_HOST}
      - DB_PORT=${POSTGRES_PORT}

  notepad-postgresql:
    build:
      context: ./
      dockerfile: ./deployment/postgresql/Dockerfile
    expose: 
      - "5432"
    volumes: 
      - postgres_database:/var/lib/postgresql
    restart: on-failure:1
    environment:
      - POSTGRES_DB=${POSTGRES_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}


volumes:
  static:
  postgres_database:
  
    
