:root {
    --create-button-color: rgb(86, 180, 42);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 110%;
    font-weight: normal;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 0.3em;
    transition: all 0.1s ease-out;
}


@media screen and (max-width: 1000px) {
    input {
        max-width: 40vw !important;
    }
}

.note-title {
    border-radius: 0.2em;
    border: none !important;
    background-color: var(--note-body-background);
}

@media screen and (max-width: 600px) {
    .note-title {
        font-size: 6vw !important;
    }
}

textarea {
    border: transparent;
    font-family: inherit;
    max-width: 40vw;
    overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
    textarea {
        width: 100px;
        height: 100px;
    }
}


.create-button {
    background-color: inherit;
    color: var(--create-button-color);
    border: 0.15em solid var(--create-button-color);
}  

.create-button:hover {
    color: rgba(250,250,250,0.95);
    background-color: var(--create-button-color);
}  