:root {
    --edit-button-color: rgba(121, 26, 165, 1);
    --share-button-color: rgba(62, 100, 255, 1);
    --delete-button-color: rgba(216, 19, 71, 1);
    --note-entire-background: radial-gradient(#ffffff 0%, rgb(246, 246, 246) 54%);
    --note-body-background: rgba(240,240,240,1);
}


html {
    overflow:hidden;
    width: 100vw;
    height: 100vh;
}


.note-entire-background {
    height: 85vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(45, 185, 132, 0);
    overflow-y: scroll;
    background-color: #ffffff;
    background: var(--note-entire-background);
}

.note-entire-content-container {
    background-color: #ffffff;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0.3em 0.4em 0.08em var(--theme-color), 0 0 1.2em rgba(0,0,0,0.3);
    border-radius: 0.3em;
}

@media screen and (max-width: 750px) {
    .note-entire-content-container {
        width: 90vw;
    }
}

.note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    max-width: 50vw;
    min-width: 30vw;
    padding: 0em 1em 1em 1em;
}

@media screen and (max-width: 750px) {
    .note {
        max-width: none;
        padding-right: 0.3em;
        padding-left: 0.3em;
    }
}

.note-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 70%;
}

.note-main-content span {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
}

.note-title {
    font-size: 160%;
    letter-spacing: 0.05em;
    padding: 0.1em;
    margin: 0.6em;
    border-bottom: 1px solid rgba(0,0,0,0.92);
}

.note-body {
    font-size: 100%;
    letter-spacing: 0.015em;
    background-color: var(--note-body-background);
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 0.8em; 
    min-width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.note-sub-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 1em 0 1em 0;
}

.note-sub-content span {
    font-size: 80%;
    color: rgba(0,0,0,0.85);
    margin: 0.15em;
}

.note-sub-content label {
    margin-right: 0.2em;
    font-weight: bold;
}

.action-buttons-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin-bottom: 1.5em;
}

.action-buttons-container button {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    border:transparent;
    font-size: 108%;
    letter-spacing: 0.07em;
    transition: all 0.1s ease-out;
    color: rgba(255, 255, 255, 0.95);
    box-shadow: 0.1em 0.1em 0.25em rgba(0,0,0,0.25);
}

@media screen and (max-width: 900px) {
    .action-buttons-container {
        flex-direction: column;
    }

    .action-buttons-container button {
        margin-top: 0.5em;
        font-size: 120%;
    }
}

.edit-button-container button {
    border: 0.15em solid var(--edit-button-color);
    color: var(--edit-button-color);
    background-color: inherit;
}

.edit-button-container button:hover {
    background-color: var(--edit-button-color);
    color: rgba(250,250,250,0.95);
}

.share-button-container button {
    border: 0.15em solid var(--share-button-color);
    color: var(--share-button-color);
    background-color: inherit;
}

.share-button-container button:hover {
    background-color: var(--share-button-color);
    color: rgba(250,250,250,0.95);
}

.delete-button-container button {
    background-color: inherit;
    color: var(--delete-button-color);
    border: 0.15em solid var(--delete-button-color);
}  

.delete-button-container button:hover {
    color: rgba(250,250,250,0.95);
    background-color: var(--delete-button-color);
}  

.action-buttons-container button:hover {
    box-shadow: inset 100em 100em rgba(129, 96, 96, 0.25);
}