{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my_core/css/base_styles.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'my_core/img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Didact Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&amp;display=swap" rel="stylesheet">
</head>

<body>
    {% block content %}
    {% endblock %}    
</body>

</html>