{% extends 'my_core/base.html' %}
{% load static %}

{% block content %}
    <title>Notepad - Get Started</title>
    <link rel="stylesheet" href="{% static 'my_core/css/homepage_styles.css' %}">

    <div class="main-container">

        <section class="top-section" id="top-section">
            <div class="top-background">
                <div class="top-content-container">

                    <div class="top-title">
                        <span>Online Notepad</span>
                    </div>
                    <div class="top-subtitle">
                        <span>100% Open Source</span>
                    </div>
                    <div class="top-getstarted-button">
                        <a href="#get-started">
                            <input type="submit" value="Get Started" /> 
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="bottom-section" id="get-started">
            <div class="bottom-background">
                <div class="bottom-content-container">
                    <div class="bottom-info-boxes-container">

                        <div class="info-box">
                            <div class="info-box-content">
                                <div class="info-box-image">
                                    <svg width="200px" height="200px" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M24.5 25.98C29.4725 25.98 33.5 21.9227 33.5 16.9133C33.5 11.904 29.4725 7.84668 24.5 7.84668C19.5275 7.84668 15.5 11.904 15.5 16.9133C15.5 21.9227 19.5275 25.98 24.5 25.98Z" fill="#333333"/>
                                        <path d="M17.3786 29.2021C17.8814 29.0785 18.3971 29.3313 18.6254 29.7991L22.6893 32.7994C24.5 32.799 24.5 32.7995 26.3105 32.7991L30.3746 29.7991C30.6029 29.3313 31.1186 29.0785 31.6214 29.2021C37.0255 30.5301 42.5 33.238 42.5 37.3116V41.845H6.5V37.3116C6.5 33.238 11.9745 30.5301 17.3786 29.2021Z" fill="#333333"/>
                                    </svg>
                                </div>
                                <div class="info-box-description">
                                    <span>Share notes with friends</span>
                                </div>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="info-box-content">
                                <div class="info-box-image">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                        viewBox="0 0 488.6 488.6" style="enable-background:new 0 0 488.6 488.6;" xml:space="preserve" width=200px height=200px>
                                        <path d="M188.5,270.3c-24.4,28.1-23.2,71.7,2.6,98.6c14.4,15.1,33.7,22.6,52.9,22.6c18.8,0,37.5-7.2,51.8-21.5
                                        c6.5-6.5,11.6-14,15.1-21.9l0,0l94.5-183.2c2.5-5.2-2.9-10.6-8.1-8.1l-183.2,94.5l0,0C204.6,255.5,195.9,261.9,188.5,270.3z
                                        M221.9,296.1c6.1-6.1,14.1-9.2,22.1-9.2s16,3.1,22.2,9.2c12.2,12.2,12.2,32.1,0,44.3c-6.1,6.1-14.1,9.2-22.2,9.2
                                        c-8,0-16-3.1-22.1-9.2C209.6,328.1,209.6,308.3,221.9,296.1z M440.2,341.4c0-34.6-9.1-68.6-26.4-98.3c-6.7-11.6-2.8-26.4,8.8-33.1
                                        c11.6-6.7,26.4-2.8,33.1,8.8c21.5,37.1,32.9,79.5,32.9,122.6c0,13.4-10.8,24.2-24.2,24.2C451.1,365.6,440.2,354.8,440.2,341.4z
                                        M0,341.4C0,206.7,109.6,97.1,244.3,97.1c31.3,0,61.8,5.8,90.6,17.4c12.4,5,18.4,19,13.5,31.4c-5,12.4-19,18.4-31.4,13.5
                                        c-23.1-9.2-47.6-13.9-72.7-13.9c-108,0-195.9,87.9-195.9,195.9c0,13.4-10.8,24.2-24.2,24.2C10.8,365.6,0,354.8,0,341.4z"/>
                                    </svg>
                                </div>
                                <div class="info-box-description">
                                    <span>Fast and Reliable</span>
                                </div>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="info-box-content">
                                <div class="info-box-image">
                                    <svg width="200px" height="200px" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M24.5 25.98C29.4725 25.98 33.5 21.9227 33.5 16.9133C33.5 11.904 29.4725 7.84668 24.5 7.84668C19.5275 7.84668 15.5 11.904 15.5 16.9133C15.5 21.9227 19.5275 25.98 24.5 25.98Z" fill="#333333"/>
                                        <path d="M17.3786 29.2021C17.8814 29.0785 18.3971 29.3313 18.6254 29.7991L22.6893 32.7994C24.5 32.799 24.5 32.7995 26.3105 32.7991L30.3746 29.7991C30.6029 29.3313 31.1186 29.0785 31.6214 29.2021C37.0255 30.5301 42.5 33.238 42.5 37.3116V41.845H6.5V37.3116C6.5 33.238 11.9745 30.5301 17.3786 29.2021Z" fill="#333333"/>
                                    </svg>
                                </div>
                                <div class="info-box-description">
                                    <span>Share notes with friends</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="bottom-signup-title">
                        <span>Sign Up for Free</span>
                    </div>
                    <div class="bottom-signup-button">
                        <a href="{% url 'signup' %}">
                            <input type="submit" value="Sign Up" /> 
                        </a>
                    </div>

                    <div class="bottom-login-title">
                        <span>or Log In</span>
                    </div>
                    <div class="bottom-login-button">
                        <a href="{% url 'login' %}">
                            <input type="submit" value="Log In" /> 
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}