{% extends 'my_core/base.html' %}
{% load static %}

{% block content %}
    <title>Notepad - Get Started</title>
    <link rel="stylesheet" href="{% static 'my_core/css/homepage_styles.css' %}">

    <div class="main-container">

        <section class="top-section" id="top-section">
            <div class="top-background">
                <div class="top-content-container">

                    <div class="top-title">
                        <span>Online Notepad</span>
                    </div>
                    <div class="top-subtitle">
                        <span>100% Open Source</span>
                    </div>
                    <div class="top-getstarted-button">
                        <a href="#get-started">
                            <input type="submit" value="Get Started" /> 
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="bottom-section" id="get-started">
            <div class="bottom-background">
                <div class="bottom-content-container">
                    <div class="bottom-signup-title">
                        <span>Sign Up for Free</span>
                    </div>
                    <div class="bottom-signup-button">
                        <a href="{% url 'signup' %}">
                            <input type="submit" value="Sign Up" /> 
                        </a>
                    </div>

                    <div class="bottom-login-title">
                        <span>or Log In</span>
                    </div>
                    <div class="bottom-login-button">
                        <a href="{% url 'login' %}">
                            <input type="submit" value="Log In" /> 
                        </a>
                    </div>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </section>

    </div>

{% endblock %}