{% extends 'my_core/base.html' %}
{% load static %}

{% block content %}
    <title>Notepad - Get Started</title>
    <link rel="stylesheet" href="{% static 'my_core/css/homepage_styles.css' %}">
    <script src="{% static 'my_core/js/scroll.js' %}"></script>

    <div class="main-container">

        <section class="top-section" id="top-section">
            <div class="top-background">
                <div class="top-content-container">

                    <div class="top-title">
                        <span>Free Notepad</span>
                    </div>
                    <div class="top-subtitle">
                        <span>Lorem Ipsum</span>
                    </div>
                    <div class="top-getstarted-button">
                        <a href="#get-started">
                            <input type="submit" value="Get Started" /> 
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class="bottom-section" id="get-started">
            <div class="bottom-background">
                <div class="bottom-content-container">
                    <div class="bottom-title">
                        <span>Sign Up for Free</span>
                    </div>
                    <div class="bottom-signup-button">
                        <a href="{% url 'signup' %}">
                            <input type="submit" value="Sign up" /> 
                        </a>
                    </div>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                    <h1>sdfsdfsdf</h1>
                </div>
            </div>
        </section>

    </div>

{% endblock %}