{% extends 'notepad/notepad_base.html' %}

{% load static %}

{% block notepad_content %}

<link rel="stylesheet" href="{% static 'notepad/css/dashboard_styles.css' %}">
<title>Dashboard - {{ user_profile.get_shortusername }}</title>

<div class="dashboard-container">
    <div class="dashboard-background">
        <div class="dashboard-content">
            <div class="dashboard-title-container">
                <span class="dashboard-title">Your Notes:</span>
            </div>
            <div class="note-list-container">
                <div class="note-list">
                    {% for note in notes %}
                        <div class="note">
                            <a class="note-link" href="{% url 'note_entire' uuid=note.id %}">
                                <div class="note-content">
                                    <span class="note-title">{{ note.title }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}