{% extends 'my_core/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'notepad/css/notepad_base_styles.css' %}">

<div class="main-container">
    <div class="main-background">
        <div class="navbar-container">
            <nav class="navbar">
                <div class="navbar-content-container">
                    <div class="navbar-top">
                        <span>{{ user_profile.get_shortusername }}</span><span class=><a class="logout-button" href="{% url 'logout' %}">Logout</a>
                    </div>
                    <div class="navbar-bottom">
                        <a class="logout-button" href="{% url 'dashboard' %}">Dashboard</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="main-content-container">
            {% block notepad_content %}
                replace me
            {% endblock %}
        </div>

    </div>
</div>

{% endblock %}