{% extends 'notepad/notepad_base.html' %}

{% block notepad_content %}

<h1>{{ note.id }}</h1>

<p>title: {{ note.title }}</p>

<p>body: {{ note.body }}</p>

<p>owner: {{ note.owner }}</p>

<p>date_created: {{ note.date_created }}</p>

<p>date_edited: {{ note.date_edited }}</p>

<p>is_owner: {{ is_owner }}</p>

<a href="{% url 'note_edit' uuid=note.id %}"><button>EDIT</button></a>

<a href="{% url 'note_delete' uuid=note.id %}"><button style="background-color:red; margin:5em;">DELETE</button></a>

{% endblock %}