{% extends 'my_core/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'accounts/css/login_page_styles.css' %}">
    <title>Log In</title>

    <div class="main-container">
        <div class="background">
            <div class="main-content-container">
                <div class="login-form-container">    
                    <form action="" method="post" class="login-form">
                        {{ form }} {% csrf_token %}
                        <input type="submit" value="Log In">
                    <div class="bottom-text">
                        <span>Don't have an account yet? <a href="{% url 'signup' %}">Sign Up</a></span>
                    </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
{% endblock %}