{% extends 'notepad/notepad_base.html' %}

{% load static %}

{% block notepad_content %}
    <div class="secrets-container">
        <span class="secrets-user-id">Your ID: <p>{{ user_profile.id }}</p></span>
    </div>
    <style>
        .secrets-container {
            display: flex;
            justify-content: center;
        }
        
        .secrets-user-id {
            font-size: 130%;
            padding: 1.5em;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        p {
            font-size: 130%;
            font-weight: bold;
        }
    </style>
{% endblock %}