:root {
    --title-text-shadow: 0.017em 0.01em 0em rgba(20, 20, 20, 0.75), 0.032em 0.02em 0em rgb(20, 20, 20, 0.6);
    --title-font-color: rgba(255,255,255, 1);
    --getstarted-button-color: rgb(255, 255, 255);
    --signup-buttom-color: rgb(0, 189, 9);
    /* --bottom-section-background-gradient: linear-gradient(120deg, rgb(40, 145, 87) 12%, rgb(255, 255, 255) 12.2%, rgb(255, 255, 255) 92.2%, rgb(40, 145, 87) 92%); */
}

.top-section {
    width: 100%;
    height: 100%;
}

.top-background {
    width: 100%;
    height: 100%;
    max-height: 100vh;

    background-color: gray;
    background-image: url("../img/background_get_started.jpg");
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* @media screen and (max-width: 1200px){

} */

.main-container {
    width: 100%;
    height: 100%;
    color: var(--title-font-color);
    font-weight: bold;
}

.top-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    font-size: 600%;
    font-family: 'Poppins';
    text-shadow: var(--title-text-shadow);
}

@media screen and (max-width: 1200px){
    .top-content-container {
        padding-top: 15vh;
    }
}

@media screen and (max-width: 900px){
    .top-content-container {
        font-size: 11vw;
    }
}

.top-title {
    font-size: 100%;
    letter-spacing: 0.06em;
}

.top-subtitle {
    font-size: 70%;
    letter-spacing: 0.02em;
    font-weight: normal;
}

.top-getstarted-button {
    font-size: 0%;
    margin: 8vh;
}

.top-getstarted-button input {
    width: 10em;
    height: 3em;
    border: transparent;
    border-radius: 0.45em;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    background-color: var(--getstarted-button-color);
    box-shadow: 0.15em 0.15em rgba(20, 20, 20, 0.05);
}

@media screen and (max-width: 600px){
    .top-getstarted-button input {
        font-size: 5vw;
    }
}

.top-getstarted-button input:hover {
    box-shadow: inset 0px 100em rgba(0, 0, 0, 0.06);
}

.bottom-background {
    background-color: white;
    background: var(--bottom-section-background-gradient);
    color:rgb(0, 0, 0);
    background-attachment: fixed;
}

.bottom-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-title {
    margin: 1.3em;
    font-size: 3vw;
}

@media screen and (max-width: 1300px){
    .bottom-title {
        font-size: 7vw;
    }
}

@media screen and (max-width: 900px){
    .bottom-title {
        font-size: 10vw;
    }
}

.bottom-signup-button input {
    font-size: 1.5rem;
    background-color: var(--signup-buttom-color);
    color: rgba(255,255,255, 1);
    letter-spacing: 0.15em;
    width: 9em;
    height: 3em;
    border: transparent;
    border-radius: 0.8em;
    font-family: 'Poppins';

    margin-bottom: 10vh;
}


@media screen and (max-width: 1300px){
    .bottom-signup-button input {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 1000px){
    .bottom-signup-button input {
        font-size: 4.5vw;
    }
}

.bottom-signup-button input:hover {
    box-shadow: inset 100em 0 rgba(0, 0, 0, 0.1);
}