:root {
    --title-text-shadow: 0.017em 0.01em 0em rgba(20, 20, 20, 0.75), 0.032em 0.02em 0em rgb(20, 20, 20, 0.6);
    --title-font-color: rgba(255,255,255, 1);
    --getstarted-button-color: rgb(255, 255, 255);
    --getstarted-button-shadow-color: rgb(27, 91, 165);
    --signup-buttom-color: rgba(0, 189, 9, 1);
    --login-button-color: rgba(62, 100, 255, 1);
    --bottom-getstarted-button-color: rgb(23, 79, 161);
    --bottom-section-background-gradient: linear-gradient(120deg ,transparent 94%, rgb(37, 95, 182) 94.1%);
    --bottom-section-background-gradient2: linear-gradient(170deg ,transparent 94%, rgb(23, 94, 161) 94.1%);
    --bottom-section-background-gradient3: linear-gradient(240deg ,transparent 93%, rgb(9, 51, 114) 93.1%);
    --bottom-section-background-gradient4: linear-gradient(195deg ,transparent 93%, rgb(10, 67, 151) 93.1%);
}


html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}


.top-section {
    width: 100%;
    height: 100%;
}

.top-background {
    width: 100%;
    height: 100%;
    max-height: 100vh;

    background-color: gray;
    background-image: url("../img/background_get_started.jpg");
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* @media screen and (max-width: 1200px){

} */

.main-container {
    width: 100%;
    height: 100%;
    color: var(--title-font-color);
    font-weight: bold;
}

.top-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
    font-size: 600%;
    font-family: 'Poppins';
    text-shadow: var(--title-text-shadow);
    user-select: none;
}

@media screen and (max-width: 1200px){
    .top-content-container {
        padding-top: 15vh;
    }
}

@media screen and (max-width: 900px){
    .top-content-container {
        font-size: 10vw;
    }
}

.top-title {
    font-size: 100%;
    letter-spacing: 0.06em;
}

.top-subtitle {
    font-size: 70%;
    letter-spacing: 0.02em;
    font-weight: normal;
}

.top-getstarted-button {
    font-size: 0%;
    margin: 8vh;
}

.top-getstarted-button input {
    width: 10em;
    height: 3em;
    border: transparent;
    border-radius: 0.45em;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    background-color: var(--getstarted-button-color);
    box-shadow: 0.12em 0.12em 0.02em var(--getstarted-button-shadow-color);
    transition: all 0.05s ease-out;
}

@media screen and (max-width: 600px){
    .top-getstarted-button input {
        font-size: 5vw;
    }
}

.top-getstarted-button input:hover {
    box-shadow: none;
    background-color: var(--getstarted-button-shadow-color);
    color: rgba(250,250,250,0.95);
}

.bottom-background {
    background-color: rgba(250,250,250,0.95);
    background: var(--bottom-section-background-gradient), var(--bottom-section-background-gradient2), var(--bottom-section-background-gradient3), var(--bottom-section-background-gradient4);
    color:rgb(0, 0, 0);
    background-attachment:scroll;
    background-origin: padding-box;
    padding-bottom: 40vh;
}

.bottom-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bottom-description-container {
    max-width: 60vw;
    text-align: justify;
    text-align: center;
    padding: 1.3em;
    margin: 3em 0em 3em 0;
    background-color: rgba(20,20,20,0.01);
    border: 0.15em solid var(--bottom-getstarted-button-color);
    border-radius: 0.3em;
    font-size: 135%;
    letter-spacing: 0.015em;
}

@media screen and (max-width: 650px) {
    .bottom-description-container {
        max-width: 79vw;
        margin: 2em 0em 2em 0;
    }
}


.bottom-info-boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-box {
    max-width: 15vw;
    height: 20vw;
    max-height: 20vw;
    margin: 1em;
    padding: 1em;
    box-shadow: 0.1em 0.2em 0.3em rgba(0,0,0,0.2), 0.05em 0.3em 2em rgba(0,0,0,0.2);
    border-radius: 0.2em;
}

@media screen and (max-width: 1350px) {
    .bottom-info-boxes-container {
        flex-direction: column;
    } 
    .info-box {
        width: 45vw;
        max-width: 45vw;
        height: 50vw;
        max-height: 50vw;
    }
}

@media screen and (max-width: 800px) {
    .bottom-info-boxes-container {
        flex-direction: column;
    }
    .info-box {
        width: 80vw;
        max-width: 80vw;
        height: 110vw;
        max-height: 110vw;
    }    
}    

.info-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;   
    text-align: justify;
    text-align: center;
}

.info-box-image {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(15%);
}

.info-box svg {
    width: 80%;
    height: auto;
    overflow: hidden;
}

.info-box-description {
    padding: 0.5em;
    margin-top: 2em;
    font-size: 140%;
}

.bottom-getstarted-button input {
    font-size: 130%;
    font-family: inherit;
    padding: 0.6em 1.2em 0.6em 1.2em;
    margin: 4em 0 2em 0;
    border-radius: 0.3em;
    border: 0.2em solid var(--bottom-getstarted-button-color);
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: all 0.05s ease-out;
}

.bottom-getstarted-button input:hover {
    background-color: var(--bottom-getstarted-button-color);
    color: rgba(255,255,255,1);
}

.bottom-signup-title {
    margin: 1.3em;
    font-size: 3vw;
}

@media screen and (max-width: 1300px){
    .bottom-signup-title {
        font-size: 7vw;
    }
}

@media screen and (max-width: 900px){
    .bottom-signup-title {
        font-size: 10vw;
    }
}

.bottom-signup-button input, .bottom-login-button input  {
    font-size: 1.65rem;
    background-color: var(--signup-buttom-color);
    color: rgba(255,255,255, 1);
    letter-spacing: 0.15em;
    width: 9em;
    height: 3em;
    border: transparent;
    border-radius: 0.8em;
    font-family: 'Poppins';
    transition: all 0.03s ease-out;
    margin-bottom: 1.5em;
}

.bottom-login-button input {
    font-size: 1.3rem;
}

@media screen and (max-width: 1300px){
    .bottom-signup-button input {
        font-size: 3.5vw;
    }
    .bottom-login-button input {
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 650px){
    .bottom-signup-button input, .bottom-login-button input  {
        font-size: 5.5vw;
    }
    .bottom-login-button input {
        font-size: 4.5vw;
    }
}

.bottom-signup-button input:hover, .bottom-login-button input:hover  {
    box-shadow: inset 100em 0 rgba(0, 0, 0, 0.22);
}

.bottom-login-title {
    font-size: 200%;
    margin: 0.5em;
}

.bottom-login-button input {
    margin: 1em 0em 2em 0em;
    background-color: var(--login-button-color);
}